
.header{ 
   margin: 0;
   padding: 0;
  box-sizing: border-box;
font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    border-bottom: 1.5px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding :3px;
    margin-top: -0.25%;
    
}
.compose{
   margin-right: 5% ;
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;  
}
#comp-btn{
  
   border: none;
   background-color: white;
   font-size: 28px;
  
}
.img{
    height: 18px;
}

h1{
    text-align: left;
    font-size: 39px;
}
footer{
  background-color: black;
  text-align: center;
  color: white;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 5%;
}
@media(max-width : 600px) {

  .compose{
    margin-right: 0px;
  }
  #comp-btn{
    font-size: 18px;
 }
 .img{
  font-size: 8px;
 }
 h1{
  font-size: 25px;
 }
}